@import './../../../styles/variables';

.formGroup {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 5px;
    }
    input, select {
        border: none;
        background-color: transparent;
        outline: none;
        border-bottom: 2px solid $main-color;
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        width: 300px;
        margin-bottom: 3vh;
        &:focus {
            border-bottom: 2px solid $orange-color;
        }
    }
}

button {
    font-size: 1.8rem;
    background-color: $orange-color;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 0;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.flexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning {
    color: red;
    margin-top: 3vh;
    font-size: 1.4rem;
}