@import '../../../styles/variables';

.wrapper {
    min-height: 80vh;
    width: 32vw;
    border-radius: 20px;
    padding: 4vh 3vw;
    background-color: $dashboard-color;
    margin-bottom: 5vh;
    transition: box-shadow .3s;
    h5 {
        font-size: 1.3rem;
        font-weight: 300;
    }
    .transaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: $transaction-color;
        width: 100%;
        border-radius: 10px;
        padding: 1vh 5vw 1vh 1vw;
        margin-top: 2vh;
        cursor: pointer;
        h6 {
            font-size: 1.6rem;
            font-weight: 500;
        }
        p {
            font-weight: 300;
            font-size: 1.1rem;
            &:nth-of-type(1) {
                font-weight: 500;
            }
        }
        .cash {
            font-size: 1.8rem;
            font-weight: 700;
            @media (max-width: map-get($map: $bp, $key: m)) and (orientation: portrait) {
                margin-right: 10px;
            }
        }
        .deleteBtn {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            @media (max-width: map-get($map: $bp, $key: m)) and (orientation: portrait) {
                right: 5px;
            }
        }
    }
    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
        button {
            font-size: 1.2rem;
            padding-left: 0;
            background-color: $transaction-color;
            color: black;
            font-weight: 500;
            width: 150px;
            &:nth-of-type(2) {
                border-left: 15px solid $green;
                border-right: 15px solid transparent;
                @media (max-width: map-get($map: $bp, $key: xl)) {
                    border-left: 16px solid $green;
                    border-right: 16px solid transparent;
                }
            }
            &:nth-of-type(3) {
                border-left: 15px solid $red;
                border-right: 15px solid transparent;
                @media (max-width: map-get($map: $bp, $key: xl)) {
                    border-left: 16px solid $red;
                    border-right: 16px solid transparent;
                }
            }
            @media (max-width: map-get($map: $bp, $key: xl)) {
                width: 130px;
            }
            @media (max-width: map-get($map: $bp, $key: l)) {
                width: 160px;
            }
            @media (max-width: map-get($map: $bp, $key: s)) and (orientation: portrait) {
                margin-bottom: 1.5vh;
            }
        }
        @media (max-width: map-get($map: $bp, $key: s)) and (orientation: portrait) {
            flex-direction: column;
        }
        .btn {
            margin-top: 1vh;
        }
    }
    &:hover {
        box-shadow: 0 0 12px rgba(33,33,33,.2);
    }
    @media (max-width: map-get($map: $bp, $key: xl)) {
        width: 36vw;
    }
    @media (max-width: map-get($map: $bp, $key: l)) {
        width: 60vw;
    }
    @media (max-width: map-get($map: $bp, $key: m)) and (orientation: portrait) {
        width: 75vw;
    }
    @media (max-width: map-get($map: $bp, $key: s)) and (orientation: portrait) {
        width: 90vw;
    }
}

.info {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    &:nth-of-type(1) {
        margin-top: 2vh;
    }
}

.income {
    border-left: 10px solid $green;
}

.expense {
    border-left: 10px solid $red;
}

.searchInput {
    background-color: white;
    color: black;
    width: 200px;
    margin-top: .5vh;
    padding: 7px 12px;
    border: 1px solid darken($color: $dashboard-color, $amount: 20%);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
}