@import './../../../styles/variables';

.footer {
    text-align: center;
    font-size: 1.3rem;
    .author {
        margin-top: 1vh;
        font-weight: 300;
        font-size: 1rem;
    }
    @media (max-width: map-get($map: $bp, $key: m)) and (orientation: portrait) {
        display: none;
    }
}